:host {
    .q-condition-builder {
        font-family: Roboto, 'Helvetica Neue', sans-serif;
        &-expression {
            margin-top: 15px;
            height: 270px;
            overflow: auto;
            padding: 2px;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    display: inline;
                    &.q-eb-expression {
                        margin-right: 3px;
                        display: inline-block;
                    }
                }
                &.q-eb {
                    &-node {
                        padding: 5px;
                        white-space: nowrap;
                        &.qb-logical {
                            padding-left: 0;
                            position: relative;
                            min-height: 27px;
                            >.q-eb-line {
                                position: absolute;
                                transform: rotate(-90deg);
                                transform-origin: top;
                                top: 50%;
                                left: -5px;
                                margin-top: -1px;
                                >ul {
                                    transform: rotate(90deg);
                                }
                            }
                            >.q-eb-children {
                                display: flex;
                                >ul {
                                    border-left: 1px solid #999;
                                    border-radius: 5px;
                                    margin-left: 35px;
                                    padding-left: 10px;
                                }
                            }
                            &.qb-or {
                                >.q-eb-line {
                                    left: 5px;
                                }
                            }
                        }
                    }
                    &-group {
                        display: inline;
                    }
                }
            }
            .q-eb-active {
                outline: 2px solid rgba(63, 81, 181, 0.25);
                background: #f5f5f5;
            }
        }
        &-icon-button {
            height: 16px;
            width: 16px;
            line-height: 16px;
            .q-icon {
                line-height: 16px;
                height: 16px;
                width: 16px;
                font-size: 16px;
            }
        }
        &-expression-line {
            margin-top: 15px;
            font-size: 12px;
            background-color: #f5f5f5;
            padding: 10px;
            overflow-y: auto;
            height: 27px;
            span {
                word-break: break-word;
            }
            .q {
                &-markup-node,
                &-markup-node-left,
                &-markup-node-right {
                    display: inline;
                }
                &-markup-group-op {
                    color: #3eb1c8;
                    text-transform: uppercase;
                    &:before,
                    &:after {
                        content: ' ';
                    }
                }
                &-markup-condition-unary {
                    &:before {
                        content: ' ';
                    }
                }
                &-markup-group-open,
                &-markup-group-close,
                &-markup-condition-open,
                &-markup-condition-close {
                    color: #888;
                }
                &-markup-condition-left {
                    color: #888;
                }
                &-markup-condition-quote {
                    color: #a11;
                }
                &-markup-condition-op {
                    color: #666;
                    text-transform: uppercase;
                }
                &-markup-condition-value-text {
                    color: #a11 !important;
                }
                &-markup-condition-value,
                &-markup-condition-value {
                    color: #000;
                }
                &-markup-condition-value-invalid:before {
                    color: #dd2c00;
                    content: 'ï¹';
                }
            }
        }
    }
    .q-condition-builder {
        &-expression {
            .mat-select {
                width: auto;
                &-value {
                    max-width: none;
                }
                &-arrow-wrapper {
                    display: none;
                }
            }
            .mat-form-field {
                //min-width: 75px;
                width: 75px;
                .mat-input-wrapper {
                    padding-bottom: 0;
                    .mat-input-infix {
                        border: none;
                        padding: 0;
                        input {
                            margin: 0;
                        }
                    }
                }
                .mat-form-field-label-wrapper {
                    top: 0;
                    padding-top: 0;
                    >.mat-form-field-label {
                        top: 0;
                    }
                }
                .mat-form-field-underline {
                    bottom: 0;
                    display: none;
                }
                &.mat-focused {
                    .mat-form-field-underline {
                        display: block;
                    }
                }
                &.qb-invalid {
                    .mat-form-field-underline {
                        display: block;
                        background: #dd2c00;
                    }
                }
            }
            .mat-chip-list {
                display: inline-block;
                .mat-chip-list-wrapper {
                    display: inline-block;
                }
                .mat-chip {
                    padding: 0;
                    border-radius: 0;
                    background-color: transparent;
                    outline: none;
                    .q-icon {
                        margin-left: -3px;
                        margin-right: 0px;
                        font-size: 13px;
                        line-height: 13px;
                        height: 15px;
                        width: 15px;
                        vertical-align: middle;
                    }
                }
            }
            .qb {
                &-operation,
                &-operator {
                    .mat-select-value {
                        color: #3eb1c8;
                    }
                }
            }
        }
    }
    .q-condition-builder-error-tooltip {
        text-transform: lowercase;
    }
}