<ng-template key="q-eb-select-tpl.component.html"
             let-$expr>
    <mat-select [(ngModel)]="$expr.value"
                (selectionChange)="$expr.change && $expr.change($event)"
                (openedChange)="$expr.open && $expr.open($event)"
                [q-eb-class]="$expr.classes"
                [q-eb-class-model]="$expr">
        <mat-option *ngFor="let option of ($expr.options || $expr.getOptions())"
                    [value]="option"
                    [disabled]="$expr.disabled && $expr.disabled(option)">
            <mat-icon *ngIf="$expr.icon">{{$expr.icon(option)}}</mat-icon>
            {{($expr.getLabel && $expr.getLabel(option)) || option}}
        </mat-option>
    </mat-select>
</ng-template>