<ul class="q-eb-node"
    [q-eb-class]="model.attr('class')"
    [ngClass]="{'q-eb-active': service.current === model}"
    (click)="select($event)">
	<li class="q-eb-line">
		<ul>
			<li *ngFor="let expr of model.line.expressions"
			    class="q-eb-expression">
				<q-eb-expression [model]="expr"
				                 [node]="model"
				                 [line]="model.line">
				</q-eb-expression>
			</li>
		</ul>
	</li>

	<li class="q-eb-children">
		<ul>
			<li *ngFor="let child of model.children"
			    class="q-eb-child">
				<q-eb-node [model]="child">
				</q-eb-node>
			</li>
		</ul>
	</li>
</ul>

<ng-template key="eb-group-tpl.component.html"
             let-$group
             let-$node="node"
             let-$line="line">
	<ul class="q-group">
		<li *ngFor="let expr of $group.expressions"
		    class="q-eb-expression">
			<q-eb-expression [model]="expr"
			                 [node]="$node"
			                 [line]="$line">
			</q-eb-expression>
		</li>
	</ul>
</ng-template>